# Real VP9 Transform-Domain Adaptive Steganography

GLOBAL_SETTINGS
        GRADE_CONTAINER receiver
        HOST_HOME_XFER labtainer_xfer/
        LAB_MASTER_SEED vp9_real_transform_adaptive_stego_2026
        REGISTRY local
        BASE_REGISTRY labtainers

NETWORK SOME_NETWORK
        MASK 172.20.0.0/24
        GATEWAY 172.20.0.100

CONTAINER sender
        USER student
        SOME_NETWORK 172.20.0.2
        MOUNT vp9-real-transform-adaptive-stego-shared:shared

CONTAINER receiver
        USER student
        SOME_NETWORK 172.20.0.3
        MOUNT vp9-real-transform-adaptive-stego-shared:shared
